body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tile {
    stroke: silver;
    stroke-width: 1;
}


.node {
    fill: blue;
}

.link {
    stroke: red;
    stroke-width: 2;
}