body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tile circle {
    stroke: #bfbfbf;
    stroke-width: 1;
}

.tile line {
    stroke: #dedede;
    stroke-width: 1;
}

.node {
    fill: #5a5a5a;
    stroke: #343434;
    stroke-width: 2;
}

.draggedNode {
    fill: #ff0000;
    stroke: #980000;
    stroke-width: 2;
}

.link {
    stroke: #bf0000;
    stroke-width: 2;
}