body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tile circle {
    stroke: #c6c6c6;
    stroke-width: 1;
}

.tile line {
    stroke: #c6c6c6;
    stroke-width: 1;
}

/* http://codepen.io/dimbslmh/full/mKfCc */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#victoryModal .modal-dialog {
    text-align: center;
}

#victoryModal .glyphicon {
    font-size: 2em;
}